*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 20px;
    background-color:rgb(233, 250, 165);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(0, 0, 0);
}
input{
    margin: 10px;
    padding: 5px;
}
input[type="submit"]:hover {
	background-color: #69cbee; 
    cursor: pointer;
}
